/firebase-functions/email-users/functions/node_modules/
/firebase-functions/email-users/functions/.eslintrc.json
/firebase-functions/email-users/functions/firebase-debug.log
/firebase-functions/email-users/.firebaserc